  <br><br>
  <br>
  <div class="noticia">
    <img class="derecha" src="https://sitiooij.poder-judicial.go.cr/images/placa-lg.png" width="300" height="300">
    <h1>Consulta de Bitácora</h1>
    <h2>Sistema de consulta de Bitácora</h2>
    <aside>El sistema Bitácora Web, permitirá llevar un control de las actividades que se realizan en los sistemas asociados al OIJ. Este permite llevar los registros de cada actividad que se realice en los demás sistemas pertenecientes al OIJ, puede generar consultas en base a una serie de filtros como usuario, fecha inicio, fecha fin, sistema desde donde se realizó, operación realizada, además el sistema también podrá generar reportes en base a los resultados de las consultas realizadas y estos reportes se deben poder exportar.</aside>
    <div class="reset"></div>
  </div>
