<div class="container">
    <div class=" text-center mt-5 ">
        <h1 >Editar Rol</h1>
    </div>
    <div class="row ">
    <div class="col-lg-11 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">

            <div class = "container">
                <form id="contact-form" role="form" #form="ngForm" *ngFor= "let roles of roles" (ngSubmit)="actualizar()">
            <div class="controls">
            <div class="row">
              <div class="col-md-5"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="form_name">Nombre de Rol</label>
                        <input id="form_encargado" type="text" name="nombreRol" class="form-control" data-error="Valid email is required."
                        [(ngModel)]="roles.nombreRol">

                    </div>
                <br>
                <div class="col-md-5">
                    <button class="btn"  style="background-color: #3164F4; color: #FFFFFF;">Guardar <i class="fa fa-save"></i></button>

                </div>
        </div>
    </div>

    </div>
     </form>
    </div>
        </div>
  </div>