<br><br><br>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="col-md-8 offset-md-3">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Catalogos</h3>
                </div>
                <div class="panel-body">
                    <div class="row ">
                       
                        <div class="col-xs-6 col-md-6">
                            <a routerLink="/registrar-oficina" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-floppy-disk" ></span> <br/>Registrar oficina</a>
                            <a routerLink="/buscar-oficina" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> <br/>Buscar oficina</a>
                          <a routerLink="/registrar-operacion" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-floppy-disk" ></span> <br/>Registrar operación</a>
                          <a routerLink="/buscar-operacion" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> <br/>Buscar operación</a>
                          <a routerLink="/registrar-sistema" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-floppy-disk"></span> <br/>Registrar sistema</a>
                          <a routerLink="/buscar-sistema" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> <br/>Buscar sistema</a>
                    </div>
                        <div class="col-xs-6 col-md-6">
                          <a routerLink="/registrar-usuario" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-floppy-disk"></span> <br/>Registrar usuario</a>
                          <a routerLink="/buscar-usuario" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> <br/>Buscar usuario</a>
                          <a routerLink="/registrar-rol" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-floppy-disk"></span> <br/>Registrar rol</a>
                          <a routerLink="/buscar-rol" routerLinkActive="active-link" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> <br/>Buscar rol</a>
                        
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>